/* body{
    background-color: gray;
} */

.notif-card{
    background-color: #fff;
    width: 350px;
    height: 75px;
    border-radius: 6px;
    padding: 4px 15px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.upper-part{
    display: flex;
    flex-direction: row;
}

.image-container{
    width: 51px;
    height: 51px;
    background-color: #f3f7ff;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.text-container{
    padding: 5px;
    padding-right: 25px;
}

.para{
    margin: 0;
}

.main-text{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #2c66c3;
    padding-right: 5px;
    font-family: 'Poppins', sans-serif;
}

.secondary-text{
    font-size: 10px;
    font-style: normal;
    color: #666;
    line-height: 0.8;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.33;
    padding-left: 2px;
}

.border{
    border-top: 1px dashed ;
    border-color: rgba(102, 102, 102, 0.4);
    margin: 5px;
    margin-bottom: 0;
}

.lower-part{
    text-align: center;
}

.footer-text{
    padding-right: 5px;
    line-height: 0.8;
}

.verified-text{
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #666;
    font-family: 'Lato', sans-serif;
    word-spacing: 1px;
}

.verified-icon{
    font-size: 11px;
    color: #0093fb;
    padding-left: 5px;
}

.influence-text{
    font-style: normal;
    font-size: 10px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #3e3e3e;
}

.close-btn-container{
    display: none
}


/* for mobile screens */
@media only screen and (max-width: 600px) {
    body{
        background-color: green;
    }
    .notif-card{
        border-radius: 50px;
        flex-direction: column-reverse;
        padding: 10px 25px;
        max-height: 90px;
        max-width: 310px;
        position: relative;
        justify-content: space-evenly;
    }

    .verified-text{
        display: none;
    }

    .influence-text{
        color: #0093fb;
    }

    .lower-part{
        text-align: left;
    }

    .border{
        display: none;
    }

    .upper-part{
        margin: '0'
    }

    .main-text{
        font-size: 11px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }

    .secondary-text{
        padding-top: 4px;
        padding-left: 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .image-container{
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 55px;
        margin: 0;
        padding: 0;
        width: 41px;
        height: 41px;
    }

    .image{
        border-radius: 50%;
        height: 41px;
        width: 41px;
    }

    .main-text{
        padding: 0;
    }

    .text-container{
        text-align: left;
        max-width: 225px;
    }

    .close-btn-container{
        display: inline-block;
        border-radius: 50%;
        border: none;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
        height: 22.5px;
        width: 22.5px;
        background-color: #fff;
        position: absolute;
        top: 28px;
        right: 14px;
    }

    .close-btn{
        font-size: 20px;
        color: #484848;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        transform: rotate(45deg);
        padding: 0;
        height: 22px;
        width: 22px;
        cursor: pointer;
    }
    
}