/* body{
    background-color: gray;
} */

.notif-card-bulk{
    background-color: #fff;
    width: 350px;
    height: 75px;
    border-radius: 6px;
    padding: 4px 15px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.upper-part-bulk{
    display: flex;
    flex-direction: row;
    height: 57px;
}

.image-container-bulk{
    width: 41px;
    height: 41px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.image-bulk{
    width: 41px;
    height: 41px;
    border-radius: 15px;
    object-fit: contain;
}

.text-container-bulk{
    padding: 5px;
    padding-right: 25px;
}

.para-bulk{
    margin: 0;
    align-self: center;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;
    overflow: hidden;
}

.main-text-bulk{
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #2c66c3;
    padding-right: 5px;
    font-family: sans-serif;

}

.main-text-bulk-digit{
    border-radius: 4px 0px 0px 4px;
    padding-left: 3px;
}

.secondary-text-bulk{
    font-size: 11px;
    font-style: normal;
    color: #666;
    line-height: 0.8;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    padding-left: 2px;
}

.border-bulk{
    border-top: 1px dashed ;
    border-color: rgba(102, 102, 102, 0.4);
    margin: 5px;
    margin-bottom: 0;
    margin-top: 2px;
}

.lower-part-bulk{
    text-align: center;
}

.footer-text-bulk{
    padding-right: 5px;
    line-height: 0.8;
}

.verified-text-bulk{
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #666;
    font-family: sans-serif;
    word-spacing: 1px;
    vertical-align: middle;
}

.verified-icon-bulk{
    font-size: 11px;
    color: #0093fb;
    padding: 5px;
}

.influence-text-bulk{
    font-style: normal;
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
    color: #044fff;
}

.close-btn-container-bulk{
    display: none
}

.notif-space-bulk{
    border-radius: 0px 4px 4px 0px;
}


/* for mobile screens */
@media only screen and (max-width: 600px) {
    body{
        background-color: green;
    }
    .notif-card-bulk{
        border-radius: 50px;
        flex-direction: column-reverse;
        padding: 10px 25px;
        max-height: 90px;
        max-width: 310px;
        position: relative;
        justify-content: space-evenly;
    }

    .verified-text-bulk{
        display: none;
    }

    .influence-text-bulk{
        color: #0093fb;
    }

    .lower-part-bulk{
        text-align: left;
    }

    .border-bulk{
        display: none;
    }

    .upper-part-bulk{
        margin: '0'
    }

    .main-text-bulk{
        font-size: 11px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .secondary-text-bulk{
        font-size: 10px;
        padding-top: 4px;
        padding-left: 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-height: 1.1;
    }

    .image-container-bulk{
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 55px;
        margin: 0;
        padding: 0;
        width: 41px;
        height: 41px;
    }

    .image-bulk{
        border-radius: 50%;
        height: 41px;
        width: 41px;
    }

    .main-text-bulk{
        padding: 0;
    }

    .text-container-bulk{
        text-align: left;
        max-width: 225px;
    }

    .close-btn-container-bulk{
        display: inline-block;
        border-radius: 50%;
        border: none;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
        height: 22.5px;
        width: 22.5px;
        background-color: #fff;
        position: absolute;
        top: 28px;
        right: 14px;
    }

    .close-btn-bulk{
        font-size: 20px;
        color: #484848;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        transform: rotate(45deg);
        padding: 0;
        height: 22px;
        width: 22px;
        cursor: pointer;
        line-height: 1;
    }
    .notif-space-bulk{
        padding-left: 2px;
    }
    
}