body{
    background-color: gray;
}

.notif-card-recent{
    background-color: #fff;
    width: 350px;
    height: 80px;
    border-radius: 6px;
    padding: 4px 10px;
    padding-bottom: 2px;
    display: flex ;
    flex-direction: column;
}

.upper-part-recent{
    display: flex;
    flex-direction: row;
    height: 60px;
}

.image-container-recent{
    width: 41px;
    height: 41px;
    background-color: #f3f7ff;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.image-recent{
    width: 41px;
    height: 41px;
    border-radius: 15px;
    object-fit: contain;
}

.text-container-recent{
    padding: 5px;
    align-self: center
}

.para-recent{
    margin: 0;
}

.main-text-recent{
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #2c66c3;
    padding-right: 5px;
    font-family: sans-serif;
    padding-left: 5px;
    text-transform: capitalize;
}

.secondary-text-recent{
    /* margin-top: 3px; */
    font-size: 10px;
    font-style: normal;
    color: #666;
    line-height: 1.2;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    padding-left: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* padding-top: 3px; */
    align-self: center;
}

.border-recent{
    border-top: 1px dashed ;
    border-color: rgba(102, 102, 102, 0.4);
    margin: 0px 5px;
}

.lower-part-recent{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footer-left-recent{
    display: flex;
    align-items: center;
}

.footer-left-text-recent{
    font-size: 9px;
    color: #49445f;
    padding-left: 10px;
    font-family: sans-serif;
    line-height: 1;
    letter-spacing: normal;
    margin: 0;
    font-weight: 600;
}

.footer-logo-container-recent{
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.footer-logo-recent{
    width: 9px;
    height: 9px;
}

.footer-star-container-recent{
    font-size: 7px;
    color: #ffc136;
    padding-left: 4px;
}

.footer-text-right-recent{
    padding-right: 10px;
    line-height: 0.8;
}

.verified-text-recent{
    font-size: 9px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    color: #666;
    font-family: sans-serif;
    word-spacing: 1px;
}

.verified-icon-recent{
    font-size: 11px;
    color: #0093fb;
    padding-left: 5px;
    padding-right: 3px;
}

.influence-text-recent{
    font-style: normal;
    font-size: 9.5px;
    font-weight: 600;
    font-family: sans-serif;
    color: #077fff;
}

.time-container-recent{
    display: none;
}

.upper-logo-container-recent{
    display: none;
}

.footer-dot-recent{
    display: none;
}

.close-btn-container-recent{
    display: none
}


/* for mobile screens */
@media only screen and (max-width: 600px) {
    body{
        background-color: green;
    }
    .notif-card-recent{
        border-radius: 50px;
        flex-direction: column-reverse;
        padding: 10px 25px;
        max-height: 90px;
        max-width: 310px;
        position: relative;
        justify-content: space-evenly;
    }

    .footer-left-recent{
        display: none;
    }

    .upper-part-recent{
        margin-top: 2px;
    }

    .verified-text-recent{
        display: none;
    }

    .influence-text-recent{
        color: #0093fb;
    }

    .footer-dot-recent{
        display: inline;
        font-size: 2px;
        align-items: center;
        color: rgba(72, 72, 72, 0.4);
        padding: 0px 3px;
    }

    .time-container-recent{
        display: inline;
        font-size: 10px;
        color: #484848;
        font-family: sans-serif;
        font-style: normal;
    }

    .border-recent{
        display: none;
    }

    .user-name-container-recent{
        display: flex
    }

    .upper-logo-container-recent{
        display: flex;
        align-items: center;
        margin-left: 7px;
    }

    .main-text-recent{
        font-size: 11px;
        font-weight: 600;
        font-family: sans-serif;
    }

    .secondary-text-recent{
        padding-top: 4px;
        padding-left: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .image-container-recent{
        border-radius: 50%;
        position: absolute;
        top: 18px;
        right: 34px;
        margin: 0;
        padding: 0;
    }

    .image-recent{
        border-radius: 50%;
        height: 41px;
        width: 41px;
    }

    .main-text-recent{
        padding: 0;
    }

    .text-container-recent{
        text-align: left;
        max-width: 225px;
        align-self: center;
    }

    .close-btn-container-recent{
        display: inline-block;
        border-radius: 50%;
        border: none;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
        height: 20px;
        width: 20px;
        background-color: #fff;
        position: absolute;
        top: 28px;
        right: 8px;
    }

    .close-btn-recent{
        font-size: 20px;
        color: #484848;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        transform: rotate(45deg);
        padding: 0;
        height: 20px;
        width: 20px;
        cursor: pointer;
        line-height: 1;
    }

    .lower-part-recent{
        justify-content: flex-start;
    }
    
}